header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding: 1em;
}

#logo {
  width: 15%;
  float: left;
}
nav {
  display: flex;
}
.nav-link {
  float: right;
  padding-left: 100px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#how-it-works {
  margin: auto 30%;

  width: 600px;
  height: 400px;
}
#video {
  width: 600px;
  height: 400px;
}
h2 {
  margin-top: 20px;
}
input {
  margin-bottom: 10px;
}
#form {
  text-align: center;
}
.container {
  padding: 10px 50px 10px 10px;
  margin: 20px 20%;
}
#feature {
}
.grid {
  padding: 20px 0;
}
.icon img {
  width: 10%;
  float: left;
  padding-right: 30px;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
